{% extends "Home.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/style_profile.css">
<img src="static/images/abhiram.jpg">
<div>

  <div class="intro">
    <p>My name is Abhiram.I belong to calicut district in kerala.I was born on 21st 
april,1996.I completed my high school education from Veda vyasa vidyalaya,calicut.
I got 90.6 % in class 12 CBSE board examination.Then i wrote the IIT-JEE exam and 
got admission into IIT Varanasi.My career goals were to become a football player or
 to go into the technical side of computers since i found them very interesting.
Currently i am pursuing my ambition doing a computer science major here at IIT
 Varanasi.</p>
  </div>
  <div class="academic">
   <h3>My academic details are:</h3>
    <ul>
      <li>Roll no: 14075001</li>
      <li>Serial no: 001</li>
      <li>Department: Computer Science</li>
      <li>Degree:btech </li>
      <li>Age: 18yr</li>
      <li>College: Indian Institute of Technology</li>
      <li>Year: 1st</li>
    </ul>
   </div>
    <div class="courses">
      <h3>My Courses are:</h3>
      <ul>
        <li>ITWS-1:Information Technology WorkShop 1</li>
        <li>MA-102:Mathematics</li>
        <li>EO-101:Fundamentals of electrical engineering</li>
        <li>CMO-101:Engineering mechanics</li>
        <li>H-104:Philosophy</li>
        <li>Manufacturing Practices</li>
        <li>Engineering Drawing</li>
      </ul>
    </div>
  </div>




{% endblock %}

