{% extends "Base.html" %}
{% block content %}


 <h1> Web Programming and Design Assignment <br> <br> IT Worskshop-1 CSE</h1>

<section id="middle">
<a href="http://iitbhu.ac.in/"><img src="static/images/bhu.jpg" width="603px" height="500px"></img></a>
</section>
<div class="sidebar">
        <h2>Group 7:serial no-1,6,19</h2>
        <ul>
        <li><a href="static/pdf/Assignment_WebDesign.pdf">Assignment Problem Sheet</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Interpolation">interpolation</a></li>
        </ul>
        <h3>view our code here</h3>
        <ul>
            <li><a href="#">Python files</a> </li>
            <li><a href="#">Css files</a> </li>
            <li><a href="#">Templates</a> </li>
            <li><a href="#">Images</a> </li>
        </ul>
        <div class="help">
        <p>Need help? :- <a href="/contact">contact us</a><br>
        </div>

    </div>
	

{% endblock %}
