{% extends "Base.html" %}
{% block content %}
<section id="content_profile">
      <div class="inside">
        <h2>About <span>Team:-</span></h2><br>
        <ul class="list">
          <li><a href="\anandita"><li><img src="static/images/anandita 1.jpg">
            <h4> Anandita Choudhary </h4>
            
          </li></a>
          <a href="\abhiram"><li><img src="static/images/abhiram.jpg">
            <h4> Abhiram R </h4>
            
          </li></a>
          <a href="\babloo"><li class="last"><img src="static/images/babloo 1.jpg">
            <h4> Babloo Kumar </h4>
          </li>
		  </a>
        </ul>
		</div>
    </section>
{% endblock %}

        
